.places {
  width: 100%;
  height: 100vh;
  margin-top: 4rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2.5rem;
  gap: 0.5rem;
}

.image1 img {
  width: 500px;
  height: 415px;
  border-radius: 10px;
}

.image2 {
  width: 500px;
  height: 415px;
}
.image2 img {
  width: 245px;
  height: 209px;
  padding: 5px;
  border-radius: 10px;
}
@media screen and (max-width: 940px) {
  .wrapper h1 {
    font-size: xx-large;
  }
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image1 {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image1 img {
    width: 800px;
  }
  .image2 {
    width: 700px;
  }
  .image2 img {
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper p {
    font-size: x-large;
  }
  .image1 {
    width: 700px;
  }
  .image1 img {
    width: 710px;
  }
  .image2 {
    width: 700px;
  }
  .image2 img {
    width: 350px;
    border-radius: 9px;
  }
}
@media screen and (max-width: 412px) {
  .image1 img {
    width: 385px;
    object-fit: cover;
  }
  .image2 {
    width: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .image2 img {
    width: 195px;
    border-radius: 9px;
  }
}
