

                 /* ------------------scroll bar--------------------- */


::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 10px;
}